#body {
	background-color: red;
}

#body2 {
	background-color: green;
}

#body3 {
	background-color: blue;
}

#body4 {
	background-color: orange;
}

#body5 {
	background-color: yellow;
}