#body, html {
	background-image: url("pictures/hardware.jpg");
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
    	background-attachment: fixed;
}	

#body2, html {
	background-image: url("pictures/software.png");
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
    	background-attachment: fixed;
}

#body3, html {
	background-image: url("pictures/appInvent.jpg");
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
    	background-attachment: fixed;
}

#body4, html {
	background-color: orange;
	background-image: url("pictures/html.png");
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
    	background-attachment: fixed;
}

#body5, html {
	background-color: yellow;
	height: 100%;
	background-image: url("pictures/javaScript.png");
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
    	background-attachment: fixed;
}

#h1 {
	text-align: center;
	color: red;
	list-style-position: inside;
}

#h2 {
	text-align: center;
	color: orange;
	list-style-position: inside;
}

#h3 {
	text-align: center;
	color: red;
	list-style-position: inside;
}

#h4 {
	text-align: center;
	color: green;
	list-style-position: inside;
}

#h5 {
	text-align: center;
	color: blue;
	list-style-position: inside;
}
