#body, html {
	height: 100%;
	background-image: url("pictures/starWars.jpg");
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
    	background-attachment: fixed;
}	

#p1 {
	text-align: center;
	color: red;
}

#pic {
	align="middle"
}
